<!DOCTYPE html>
<html lang="">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='login.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!--header section starts-->
<header class="header">
    <a href="#" class="logo">logo</a>
</header>

<div class="wrapper">
    <div class="form-box login">
        <h1>Login</h1>
        <form name="login" method="post" action="" >
        
            <div class="input-box">
                <span class="icon"><i class='bx bxs-user' ></i></span>
                <input type="text" placeholder="Your Id" required>   
            </div>
            <div class="input-box">
                <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                <input type="password" placeholder="Your Password" required>
                
            </div> 
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div>
                <button type="submit" class="btn">Login</button>
            <div class="register-link">
            <p>Don't have an account?
                <a href="userinfo.insert.html">Register</a>
            </p>

        </div>
    </form>
</div>
</div>
<!--header section ends-->
<!--custom js file lick-->
<script src='script.js'></script>
</body>
</html>